@model FSD_Sample_Project_App.Models.Entity.FSDSampleProjectdb
@{
    ViewBag.Title = "GuncelleBilgiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="container">UPDATE ITEM</h2>

<div class="container" style="margin-top:20px;" >
    <form action="/Home/Guncelle/">
        @* <div class="form-group">
            <b>ID</b>
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
        </div>*@
        @Html.HiddenFor(x => x.Id)
            @*<div class="form-group">
                <b>ID</b>
                @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
            </div>*@
        <div class="form-group">
            <b>Ürün Açıklaması</b>
            @Html.TextBoxFor(x => x.UrunAciklama, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Text Kod</b>
            @Html.TextBoxFor(x => x.TextKod, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <b>Sıra</b>
            @Html.TextBoxFor(x => x.Sira, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Ağırlık</b>
            @Html.TextBoxFor(x => x.Agirlik, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Ad</b>
            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Kısa Ad</b>
            @Html.TextBoxFor(x => x.KisaAd, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Grup Kod</b>
            @Html.TextBoxFor(x => x.GrupKod, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Ek Grup Kod</b>
            @Html.TextBoxFor(x => x.EkGrupKod, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Birim</b>
            @Html.TextBoxFor(x => x.Birim, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Kdv Oran</b>
            @Html.TextBoxFor(x => x.KdvOran, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Ürün Tip</b>
            @Html.TextBoxFor(x => x.UrunTip, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Durum</b>
            @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Üretim Tarihi &#128197</b>
            @Html.TextBoxFor(x => x.UretimTarihi, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Seri Takip</b>
            @Html.TextBoxFor(x => x.SeriTakip, new { @class = "form-control" })
        </div>
       
        <div>
            <a href="/Home/Index/" class="btn btn-secondary">Exit</a>
            <button class="btn btn-primary">Update</button>
        </div>
    </form>

</div>



