@model HospitalEquipment.Models.Entity.Urun
@{
    ViewBag.Title = "GuncelleBilgiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="container">UPDATE ITEM</h2>

<div class="container" style="margin-top:20px;" >
    <form action="/Klinik/Guncelle/">
        @* <div class="form-group">
            <b>ID</b>
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
        </div>*@
        @Html.HiddenFor(x => x.ID)
        <div class="form-group">
            <b>Clinic ID</b>
            @Html.TextBoxFor(x => x.KlinikID, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Clinic Name</b>
            @Html.TextBoxFor(x => x.KlinikAdi, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Equipment Name</b>
            @Html.TextBoxFor(x => x.EkipmanAdi, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Delivery Date &#128197</b>
            @Html.TextBoxFor(x => x.TeminEdilmeTarihi, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Piece</b> 
            @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Unit Price &#x24</b>
            @Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <b>Usage Rate</b>
            @Html.TextBoxFor(x => x.KullanımOrani, new { @class = "form-control" })
        </div>
       

        <div class="form-group">
            <b>Statement</b>
            @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
        </div>
        <div>
            <a href="/Klinik/Index/" class="btn btn-secondary">Exit</a>
            <button class="btn btn-primary">Update</button>
        </div>
    </form>

</div>



