@using FSD_Sample_Project_App.Models.Entity
@model List<FSD_Sample_Project_App.Models.Entity.FSDSampleProjectdb>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-left:15px;">
    @using (Html.BeginForm())
    {

        <div class="form-group">
            <div style="width:25%;float:left">
                @Html.TextBox("ara", null, new {@class="form-control",@placeHolder="Search Item"})
            </div>
            <div>
                @Html.ActionLink("Ara", "Index", null, new { @class = "btn btn-info", onclick = "$(this).parents('form').attr('action', $(this).attr('href'));$(this).parents('form').submit();return false;" })

            </div>
        </div>
    }
    </div>


<table class="table table-dark" style="margin-top:20px;">

        
        <thead>
                       
            <tr>

                <td align="center">
                    Ürün Açıklama
                </td>
                <td align="center">
                    Text Kod
                </td>
                <td align="center">
                    Sıra
                </td>
                <td align="center">
                    Ağırlık
                </td>
                <td align="center">
                    Ad
                </td>
                <td align="center">
                    Kısa Ad
                </td>
                <td align="center">
                    Grup Kod
                </td>
                <td align="center">
                    Ek Grup Kod
                </td>
                <td align="center">
                    Üretici Kod
                </td>
                <td align="center">
                    Birim
                </td>
                <td align="center">
                    Kdv Oran
                </td>
                <td align="center">
                    Ürün Tip
                </td>
                <td align="center">
                    Durum
                </td>
                <td align="center">
                    Üretim Tarihi
                </td>
                <td align="center">
                    Seri Takip No
                </td>
               

                <td colspan="2" align="center">

                    <a href="/Home/Ekle/" class="btn btn-success" button style="width:190px; height:40px;">ADD</a>
                </td>

            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
            <tr>


                @*  <td>@item.ID</td>*@
                <td width="20%" align="center">@item.UrunAciklama</td>
                <td align="center">@item.TextKod</td>
                <td align="center">@item.Sira</td>
                <td align="center">@item.Agirlik</td>
                <td align="center">@item.Ad</td>
                <td align="center">@item.KisaAd</td>
                <td align="center">@item.GrupKod</td>
                <td align="center">@item.EkGrupKod</td>
                <td align="center">@item.UreticiKod</td>
                <td align="center">@item.Birim</td>
                <td align="center">@item.KdvOran</td>
                <td align="center">@item.UrunTip</td>
                <td align="center">@item.Durum</td>
                <td align="center">@item.UretimTarihi</td>
                <td align="center">@item.SeriTakip</td>
                <td><a href="/Home/SilBilgiGetir/@item.Id" class="btn btn-danger">DELETE</a>
                <td><a href="/Home/GuncelleBilgiGetir/@item.Id" class="btn btn-primary">UPDATE</a> </td>

            </tr>
                }



        </tbody>
    </table>

