@model FSD_Sample_Project_App.Models.Entity.FSDSampleProjectdb
@{
    ViewBag.Title = "SilBilgiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="container">Delete</h2>


<div class="container" style="margin-top:20px;">
    <form action="/Home/Sil/">
        @using (Html.BeginForm("Sil", "Urun"))
        {

            <div class="form-group">
                @Html.HiddenFor(x => x.Id)
                <b> <label>ID :</label></b>
                @Html.DisplayFor(x => x.Id, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <b> <label>Ürün Açıklama :</label></b>
                @Html.DisplayFor(x => x.UrunAciklama, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Text Kod :</label></b>
                @Html.DisplayFor(x => x.TextKod, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Sıra :</label></b>
                @Html.DisplayFor(x => x.Sira, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Ağırlık :</label></b>
                @Html.DisplayFor(x => x.Agirlik, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Ad :</label></b>
                @Html.DisplayFor(x => x.Ad, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Kısa Ad :</label></b>
                @Html.DisplayFor(x => x.KisaAd, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Grup Kod :</label></b>
                @Html.DisplayFor(x => x.GrupKod, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <b> <label>Ek Grup Kod :</label></b>
                @Html.DisplayFor(x => x.EkGrupKod, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Üretici Kod :</label></b>
                @Html.DisplayFor(x => x.UreticiKod, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Birim :</label></b>
                @Html.DisplayFor(x => x.Birim, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Kdv Oran :</label></b>
                @Html.DisplayFor(x => x.KdvOran, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Ürün Tip :</label></b>
                @Html.DisplayFor(x => x.UrunTip, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Durum :</label></b>
                @Html.DisplayFor(x => x.Durum, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Üretim Tarihi :</label></b>
                @Html.DisplayFor(x => x.UretimTarihi, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <b> <label>Seri Takip No :</label></b>
                @Html.DisplayFor(x => x.SeriTakip, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <a href="/Home/Index/" class="btn btn-secondary">Exit</a>
                <button class="btn btn-danger">Delete</button>

            </div>

        }
    </form>

</div>
